@mixin gridThreeColumns ($weatherSize: 274px) {
  display: grid;
  
  grid-template-areas:
  ". . . . ."
  ". wskyblue wgreen wblue ."
  ". worange wpink wpurple ."
  ". . . . .";
  
  grid-template-columns: 1fr repeat(3, $weatherSize) 1fr;
  grid-template-rows: 1fr repeat(2, $weatherSize) 1fr;
}

@mixin gridTwoColumns ($weatherSize: 250px) {
  display: grid;

  grid-template-areas:
  ". . . ."
  ". wskyblue wgreen ."
  ". wblue worange ."
  ". wpink wpurple ."
  ". . . .";

  grid-template-columns: 1fr repeat(2, $weatherSize) 1fr;
  grid-template-rows: 1fr repeat(3, $weatherSize) 1fr;
}

@mixin gridOneColumn ($weatherSize: 250px) {
  display: grid;

  grid-template-areas:
  ". . ."
  ". wskyblue ."
  ". wgreen ."
  ". wblue ."
  ". worange ."
  ". wpink ."
  ". wpurple ."
  ". . .";

  grid-template-columns: 1fr $weatherSize 1fr;
  grid-template-rows: 1fr repeat(6, $weatherSize) 1fr;
}

@mixin fullContainer {
  width: 100%;
  height: 100%;
}

@mixin font ($size, $weight: 600) {
  font-size: $size;
  font-family: "Avenir Next", monospace;
  font-weight: $weight;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@mixin dayInfo ($width: 20%, $height: 65%) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  width: $width;
  height: $height;

  margin-top: 10px;

  z-index: 2;
}