html {
  width: 100%;
  height: 100%; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 320px;
  margin: 0;
  padding: 30px;
  font-size: 15pt;
  font-family: "Avenir Next", monospace;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-image: url(img/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }

.widget {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: ". . . . ." ". wskyblue wgreen wblue ." ". worange wpink wpurple ." ". . . . .";
  grid-template-columns: 1fr repeat(3, 274px) 1fr;
  grid-template-rows: 1fr repeat(2, 274px) 1fr; }

.weather {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.weather-skyblue {
  grid-area: wskyblue;
  background-color: #06b3db; }

.weather-green {
  grid-area: wgreen;
  background-color: #4ed486; }

.weather-blue {
  grid-area: wblue;
  background-color: #6139f6; }

.weather-orange {
  grid-area: worange;
  background-color: #e3b63d; }

.weather-pink {
  grid-area: wpink;
  background-color: #dc3d66; }

.weather-purple {
  grid-area: wpurple;
  background-color: #db51e2; }

.weather__block_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 15%; }
  .weather__block_visible .weather__image_large {
    width: 110px; }
  .weather__block_visible .weather__city {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 5%; }

.weather__block_invisible {
  display: none;
  position: relative; }
  .weather__block_invisible .weather__background_transparency {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: radial-gradient(at center, #7c7c7c, #000000);
    opacity: 0.25;
    z-index: 1; }
  .weather__block_invisible .weather__period-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 100%; }
    .weather__block_invisible .weather__period-info .weather__day-info,
    .weather__block_invisible .weather__period-info .weather__day-info_invisible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 20%;
      height: 65%;
      margin-top: 10px;
      z-index: 2;
      font-size: 12pt;
      font-family: "Avenir Next", monospace;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff; }
      .weather__block_invisible .weather__period-info .weather__day-info .weather__image_small,
      .weather__block_invisible .weather__period-info .weather__day-info_invisible .weather__image_small {
        width: 30px; }
    .weather__block_invisible .weather__period-info .weather__day-info_invisible {
      display: none; }

.weather:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .weather:hover .weather__block_visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: unset;
    padding-bottom: unset; }
    .weather:hover .weather__block_visible .weather__image_large {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 85px; }
    .weather:hover .weather__block_visible .weather__city {
      display: none; }
  .weather:hover .weather__block_invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 90%; }

@media (min-width: 1300px) {
  body {
    font-size: 1.5rem;
    font-family: "Avenir Next", monospace;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; }

  .widget {
    display: grid;
    grid-template-areas: ". . . . ." ". wskyblue wgreen wblue ." ". worange wpink wpurple ." ". . . . .";
    grid-template-columns: 1fr repeat(3, 350px) 1fr;
    grid-template-rows: 1fr repeat(2, 350px) 1fr; }

  .weather__block_visible .weather__image_large {
    width: 140px; }

  .weather__block_invisible .weather__period-info .weather__day-info,
  .weather__block_invisible .weather__period-info .weather__day-info_invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10%;
    height: 60%;
    margin-top: 10px;
    z-index: 2; }

  .weather:hover .weather__image_large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 105px; } }
@media (min-width: 1600px) {
  body {
    font-size: 1.8rem;
    font-family: "Avenir Next", monospace;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; }

  .widget {
    display: grid;
    grid-template-areas: ". . . . ." ". wskyblue wgreen wblue ." ". worange wpink wpurple ." ". . . . .";
    grid-template-columns: 1fr repeat(3, 400px) 1fr;
    grid-template-rows: 1fr repeat(2, 400px) 1fr; }

  .weather__block_visible .weather__image_large {
    width: 160px; }

  .weather__block_invisible .weather__period-info .weather__day-info,
  .weather__block_invisible .weather__period-info .weather__day-info_invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10%;
    height: 55%;
    margin-top: 10px;
    z-index: 2;
    font-size: 13pt;
    font-family: "Avenir Next", monospace;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; }

  .weather:hover .weather__image_large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 115px; } }
@media (min-width: 2000px) {
  body {
    font-size: 2rem;
    font-family: "Avenir Next", monospace;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; }

  .widget {
    display: grid;
    grid-template-areas: ". . . . ." ". wskyblue wgreen wblue ." ". worange wpink wpurple ." ". . . . .";
    grid-template-columns: 1fr repeat(3, 450px) 1fr;
    grid-template-rows: 1fr repeat(2, 450px) 1fr; }

  .weather__block_visible .weather__image_large {
    width: 180px; }

  .weather__block_invisible .weather__period-info .weather__day-info,
  .weather__block_invisible .weather__period-info .weather__day-info_invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10%;
    height: 53%;
    margin-top: 10px;
    z-index: 2;
    font-size: 14pt;
    font-family: "Avenir Next", monospace;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; }

  .weather:hover .weather__image_large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 130px; } }
@media (max-width: 880px) {
  body {
    font-size: 14pt;
    font-family: "Avenir Next", monospace;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff; }

  .widget {
    display: grid;
    grid-template-areas: ". . . . ." ". wskyblue wgreen wblue ." ". worange wpink wpurple ." ". . . . .";
    grid-template-columns: 1fr repeat(3, 250px) 1fr;
    grid-template-rows: 1fr repeat(2, 250px) 1fr; }

  .weather__image_small {
    width: 28px; } }
@media (max-width: 815px) {
  .widget {
    display: grid;
    grid-template-areas: ". . . ." ". wskyblue wgreen ." ". wblue worange ." ". wpink wpurple ." ". . . .";
    grid-template-columns: 1fr repeat(2, 250px) 1fr;
    grid-template-rows: 1fr repeat(3, 250px) 1fr; }

  .weather__image_small {
    width: 28px; } }
@media (max-width: 565px) {
  .widget {
    display: grid;
    grid-template-areas: ". . ." ". wskyblue ." ". wgreen ." ". wblue ." ". worange ." ". wpink ." ". wpurple ." ". . .";
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr repeat(6, 250px) 1fr; } }
