body {
	background-image: url(../img/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Dosis', sans-serif;
	margin: 0;
}

p {
	margin: 0;
}

.weather-widget {
	margin-top: 100px;
	display: grid;
	display: -ms-grid;
	grid-template-columns: 4fr 5fr 5fr 4fr;
	grid-template-areas: ". location information .";
	justify-items: stretch;
}

.weather-widget__location {
	background-image: url(../img/city.jpg);
	background-size: cover;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0px 0px 100px 1px black;
	overflow: hidden;
	grid-area: location;
	display: grid;

}

.weather-widget__information {
	box-sizing: border-box;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #FFFFFF;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 0px 0px 50px 1px black;
	grid-area: information;
}

.weather-widget__temp {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 100pt;
	font-weight: 200;
	color: #8E4140;
	text-align: center;	
	border-bottom: 2px solid #8E4140;
}

.weather-widget__graph {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #8E4140;
}

.weather-widget__days {
	padding-top: 40px;
	padding-bottom: 20px;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}

.weather-widget__weather-type {
	background: rgba(46,28,37,0.89);
	font-size: 60pt;
	line-height: 1.5;
	font-weight: 200;
	text-align: center;
	color: white;
}

.weather-widget__today {
	background: rgba(119,25,33,0.89);
	font-size: 20pt;
	font-weight: 300;
	text-align: center;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}

.weather-widget__weather-type-logo {
	box-sizing: content-box;
	height: 100%;
	text-align: center;
	padding-top: 85px;
	padding-bottom: 84px;
}

.weather-widget__day {
	font-size: 16pt;
	font-weight: 40;
	line-height: 2;
	text-align: center;
	width: 100px;
}

.weather-widget__weekday-information {
	width: 100px;
	text-align: center;
	margin: auto;
	color: #8E4140;
}

.weather-widget__nighttime-temp {
	color: black;
}

.weather-widget__weekday {
	border-bottom: 2px solid #8E4140;
	padding-top: 15px;
	padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
	.weather-widget {
		grid-template-columns: 1fr 6fr 6fr 1fr;
		grid-template-areas: ". location information .";
		justify-items: stretch;
	}
}
	
@media screen and (max-width: 900px) {
	.weather-widget {
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: ". location ."
							". information .";
		justify-items: stretch;
	}
}
	@media screen and (max-width: 550px) {
	.weather-widget {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "location"
							"information";
		justify-items: stretch;
		}
}
}