* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
/* Highier level containers states */
.widget-container {
  width: 800px;
  height: 600px;
  margin: auto;
  padding: 80px 110px;
  background-image: url('./assets/images/bg/Tokyo-bg.png');
  border-radius: 10px;
}
.widget {
  display: flex;
  flex-flow: column wrap;
  width: 580px;
  height: 437px;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
  cursor: default;
}
/* First container state */
.widget-current-weather {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 290px;
  text-align: center;
  background-image: url('./assets/images/bg/Tokyo-bg-inner.png');
  border-right: 1px solid rgba(51, 33, 38);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.widget-current-weather__icon-container {
  flex: 3;
  padding-top: 43px;
}
.widget-current-weather__icon {
  width: 142px;
  height: 142px;
}
.widget-current-weather__mood {
  flex: 1;
  padding-top: 24px;
  font-weight: 200;
  font-size: 36px;
  background: rgba(53, 27, 36, 0.9);
}
.widget-current-weather__date {
  flex: 1;
  padding-top: 40px;
  font-weight: 300;
  font-size: 22px;
  background: rgba(119, 25, 33, 0.9);
  border-bottom-left-radius: 5px;
}
/* Second container state */
.widget-weather-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  max-width: 100%;
  width: 290px;
  padding-bottom: 5px;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.widget-weather-state__temperature {
  font-weight: 200;
  font-size: 101px;
  color: #7b1f27;
  border-bottom: 1px solid #7b1f27;
}
.widget-weather-state__graph-container {
  border-bottom: 1px solid #7b1f27;
}
.widget-weather-state__graph {
  position: relative;
  bottom: 15px;
}
.widget-next-days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
  font-weight: 600;
  font-size: 16px;
}
.next-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.next-day__week-day {
  width: 45px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #7b1f27;
}
.next-day__week-day_day-props {
  margin-top: 10px;
  color: #7b1f27;
}
.next-day__week-day_night-props {
  margin-top: 5px;
  padding-bottom: 5px;
  color: #332126;
}
