.widget {
  display: flex;
  flex-wrap: wrap;
  max-width: 58rem;
  height: 44rem;
  margin: 7rem auto;
  border-radius: 5px;
  box-shadow: var(--shadow-dark);
  overflow: hidden;

  &__left-side {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    background-image: url(../assets/images/bg/Tokyo-bg-inner.png);
    background-size: cover;
    background-position: top;
    border-right: 1px solid var(--color-tertiary);

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__main-icon-box {
    flex-basis: 24rem;
  }

  &__main-icon {
    width: 17rem;
    height: 17rem;
    fill: var(--color-primary);
  }

  &__weather-desc {
    width: 100%;
    flex-basis: 9.5rem;
    font-size: 3.6rem;
    font-weight: 300;
    background-color: rgba(51, 33, 38, 0.9);
  }

  &__weather-date {
    width: 100%;
    flex-basis: 10.5rem;
    font-size: 2.2rem;
    font-weight: 200;
    background-color: rgba(123, 31, 39, 0.9);
  }

  &__right-side {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);

    & > * {
      display: flex;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-secondary);
      }
    }
  }

  &__main-temperature {
    flex-basis: 14rem;
    font-size: 10rem;
    font-weight: 200;
  }

  &__graph-box {
    display: flex;
    flex-basis: 10rem;
    justify-content: center;
    align-content: center;
  }

  &__graph-img {
    width: 21rem;
    height: 8rem;
  }

  &__weekly-weather {
    display: flex;
    flex-basis: 20rem;
    justify-content: space-between;
  }

  &__week-day {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;
  }

  &__week-icon {
    width: 5rem;
    height: 5rem;
    fill: var(--color-secondary);
  }

  &__week-temperature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 600;

    li:first-child {
      width: 90%;
      line-height: 2;
      text-align: center;
      border-bottom: 1px solid var(--color-secondary);
    }

    li:last-child {
      color: var(--color-tertiary);
    }
  }
}
