* {
  margin: 0px;
}
.background {
  padding-top: 95px;
  padding-bottom: 95px;
  width: 100%;
  min-height: 70vh;
  background-image: url(img/Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.cubes {
  margin-left: auto;
  margin-right: auto;
  width: 609px;
  height: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.chicago-weather, .seattle-weather, .brooklyn-weather, .portland-weather, .week-weather, .sanjose-weather{
  width: 203px;
  height: 205px;
  text-align: center;
}
.chicago-weather {
  background-color: rgb(6, 179, 219);
}
.seattle-weather {
  background-color: rgb(78, 212, 134);
}
.brooklyn-weather {
  background-color: rgb(97, 57, 246);
}
.portland-weather {
  background-color: rgb(227, 182, 61);
}
.week-weather {
  background-color: rgb(220, 61, 102);
}
.sanjose-weather {
  background-color: rgb(189, 84, 205);
}
.chicago-weather__image, .seattle-weather__image, .brooklyn-weather__image,
 .portland-weather__image, .sanjose-weather__image {
  width: 90px;
  height: 90px;
  margin-bottom: 7px;
}
.chicago-weather__image, .seattle-weather__image, .brooklyn-weather__image {
  margin-top: 43px;
}
.portland-weather__image, .sanjose-weather__image {
  margin-top: 39px;
}
.week-weather__image {
  width: 73px;
  height: 74px;
  margin-top: 17px;
}
.week-weather__description {
  width: 144px;
  height: 90px;
  margin-top: 10px;
  background-color: rgb(189, 53, 89);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.week-weather__items{
  display: flex;
  justify-content: space-between;
}
.week-weather__image-small {
  width: 20px;
  height: 20px;
}
.chicago-weather__text, .seattle-weather__text,  .brooklyn-weather__text, 
.portland-weather__text, .sanjose-weather__text, .week-weather__text-small {
  color: white;
  display: inline;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
.week-weather__text-small {
  font-size: 11px;
}
@media(max-width: 767px) {
 .cubes {
   width: 406px;
   height: 615px;
 }
}
@media(max-width: 575px) {
  .cubes {
    width: 203px;
    height: 1230px;
  }
}

