body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

.weather-widget{
    height: 408px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    grid-template-rows: repeat(2, minmax(204px, 1fr));
}

.weather-widget__city-card{
    text-align: center;
}

.city-card-brooklyn__img, .city-card-chicago__img, .city-card-portland__img, .city-card-seattle__img{
    margin: 0;
    padding-top: 45px;
    padding-bottom: 1%;
    text-align: center;
}

.city-card-sanjose__img{
    padding-top: 55px;
    padding-bottom: 1px;
    text-align: center;
}

.city-card-chicago{
    background-color: #00C0E2;
}
  
.city-card-seattle{
    background-color: #5AD998;
}
  
.city-card-brooklyn{
    background-color: #7558F8;
}
  
.city-card-portland{
    background-color: #E9C14D;
}

.city-card-schedule{
    height: 204px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(102px, 1fr));
    background-color: #E55679;

}

.city-card-sanjose{
    background-color: #CB70D6;
}

.city-card-schedule__img{
    padding-top: 25px;
    padding-left: 35%;
    padding-right: 35%;
}

.city-card-schedule__schedule-table{
    text-align: center;
    background-color: #CB4C6C;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.15);
}

.days-list__list-elem{
    margin-top: 15px;
}

.city-card-schedule__days-list{
    width: 100%;
    height: 102px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3px, 1fr));
    grid-template-rows: minmax(204px, 1fr);
    justify-content: center; 
}

.days-list__list-text{
    margin: 0;
    padding-top: 11%;
    padding-bottom: 11%;
    font-size: 9pt;
}

.days-list__list-img{
    max-width: 23px;
    height: 20px;
    padding: 0;
}

@media only screen and (min-width: 612px)
{
    .weather-widget{
        width: 612px;
    }
    .city-card-schedule__days-list{
        width: 204px;
        grid-template-columns: repeat(auto-fit, 45px);
        justify-content: center; 
    }
    .city-card-schedule__img{
        padding-top: 25px;
        padding-left: 67px;
    }
}

@media only screen and (max-width: 612px)
{
    .weather-widget{
        grid-template-rows: repeat(6, minmax(204px, 1fr));
    }
    .days-list__list-elem{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 407px)
{
    .city-card-schedule__img {
        padding-top: 25px;
        padding-left: 40%;
        padding-right: 40%;
    }
    .days-list__list-elem{
        margin-top: 4px;
    }
}
