
   body, html { 
    width: 100%;
    height: 100%;
    background-image:url(img/back_main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;    
    }  

.main-container__widget{
    margin: auto;
    display: grid;
    display: -ms-grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, 205px);
    grid-template-rows: repeat(auto-fit, 205px);
    grid-auto-rows: 205px;
    grid-gap: 0vw;
    -ms-grid-template-columns: repeat(auto-fit, 205px);
    -ms-grid-template-rows: repeat(auto-fit, 205px);
    -ms-grid-auto-rows: 205px;
    -ms-grid-gap: 0vw;
    max-width: 615px;
    min-height: 100%;
    }
    
.main-container__chicago{
    background-image:url(img/chicago_back.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    display: -ms-grid;
    align-content: center; 
    justify-content: center;
    }

.main-container__week{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px 0 15px;
    }

.main-container__day{
    color: white;
    font-weight: bold;
    font-family:Helvetica, monospace;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    font-size: 12px;
    text-align: center;
    }

.main-container__name {
    padding-bottom: 10px;
    }

.main-container__image-div {
    height: 25px;
    }

.main-container__image-sun-div {
    height: 25px;
    position: relative;
    }

.main-container__image-sun-div img {
    position: absolute;
    top: -3px;
    left: 0;
    }

.main-container__temp {
    padding-top: 3px;
    }

.main-container__city{
    display: grid;
    display: -ms-grid;
    align-content: center; 
    justify-content: center;
    height: 205px;
    width: 205px;
    }

.main-container__chicago{
    background-color:#01b4dc;
    }

.main-container__seattle{
    background-color:#4dd587;
    }

.main-container__brooklyn{
    background-color:#6136f6;
    }

.main-container__portland{
    background-color:#e4b73b;
    }

.main-container__san-jose{
    background-color:#be53ce;
    }

.main-container__week-top{
    background-image:url(img/week_back1.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    display: -ms-grid;
    align-content: center; 
    justify-content: center;
    padding-top: 10px;
    margin: 0;
    }

.main-container__week-bottom{
    background-image:url(img/week_back2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 99px;
    width: 205px;
    margin-top: 4px;
    }

.main-container__element{
    padding: 13px;    
    color: white;
    font-weight: bold;
    font-family:Helvetica, monospace;
    display: grid;
    display: -ms-grid;
    align-self: center;
    justify-content:center;
    }

.day_elem{
    padding: 3px;   
    }