body {
    background: url("../img/back_main.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 800;
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    color: white;
}

.main-box {
    background-size: contain;
    display: grid;
    display: -ms-grid;
    width: 615px;
    height: 410px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -ms-grid-columns: 33% 33% 33%;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
}

.main-box .main-box__cities-cube {
    height: 205px;
    width: 205px;
    background-size: cover;
    background-repeat: no-repeat;
}

.cities-cube {
    padding: 40px 10px;
    text-align: center;
}

.days .cities-cube_halfMoon,
.days .cities-cube__days {
    text-align: center;
}

.days .cities-cube_halfMoon img {
    width: 60px;
    padding-top: 20px;
}

.cities-cube img {
    width: 90px;
    height: 80px;
}

.cities-cube_halfMoon,
.cities-cube__days {
    height: 50%;
}

.cities-cube__days div img {
    margin-bottom: -10px;
    width: 25px;
    height: 20px;
}

.chicago {
    background-color: #00c2e3;
}

.seattle {
    background-color: #59da99;
}

.brooklyn {
    background-color: #7557f8;
}

.portland {
    background-color: #eac24c;
}

.days {
    background-color: #e65579;
}

.sanJose {
    background-color: #cc70d8;
}

.cities-cube__days {
    background-color: #cc4a6c;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    font-size: 13px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-grid-columns: 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

@media all and (max-width: 800px) and (min-width: 320px) {
    .main-box {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    }