body{
    background: black;
}

.wrap{
    min-height: 100%;
    background-image: url("images/Layer 6@1X.png");
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    background: white;
    width: 581px;
    height:438px;
    display: flex;
    align-content:space-between;
}

.v1,.v2{
    display:flex;
    flex-direction: column;
    align-content:space-between;
    justify-content: space-around;
    min-height: 100%;
    width: 50%;
}

.v1{
    background-image: url("./images/Layer 6@1X.png");
}

.v3,.v4{
    align-self: center;
}
.v4,.v5,.v6{
    position: relative;
}

.v4{
    bottom: 250px;
}

.v5{
    bottom: 170px;
}

.v6{
    bottom: 80px;
}



.v5,.v6{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img{
    position: relative;
    top:50px;
    align-self: center;
}

.i1 {
    position: relative;
    left: 9px;
    top: 10px;
}

.i2 {
    position: relative;
    left: 30px;
    bottom: 5px;
}

.i3 {
    position: relative;
    left: 51px;
    top: 10px;
}

.i4 {
    position: relative;
    bottom: 30px;
    right: 7px;
}

.sun {
    position: relative;
}

.i5 {
    position: relative;
    bottom: 30px;
    left: 7px;
}

.i6 {
    position: relative;
    left: 10px;
    bottom: 10px;
}

.i7 {
    position: relative;
    left: 30px;
    top: 4px;
}

.i8 {
    position: relative;
    left: 50px;
    bottom: 15px;
}

.i9 {
    position: relative;
    top: 13px;
    right: 1px;
}

.i10 {
    position: relative;
    left: 22px;
    top: 55px;
}

.i11 {
    position: relative;
    left: 30px;
    top: 35px;
}

.i12 {
    position: relative;
    left: 60px;
    top: 22px;
}

.i13 {
    position: relative;
    left: 97px;
    top: 61px;
}

.i14 {
    position: relative;
    left: 112px;
    top: 12px;
}

.i15 {
    position: relative;
    left: 137px;
    top: 40px;
}

.i16 {
    position: relative;
    right: 5px;
    top: 5px;
}

.i17 {
    position: relative;
    right: 9px;
    top: 3px;
}

.i18 {
    position: relative;
    right: 12px;
    bottom: 18px;
}

.text1 {
    position: relative;
    top: 90px;
    font-family: ﻿Dosis-ExtraLight, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 36pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.text2 {
    position: relative;
    font-family: ﻿Dosis-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 22pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-image: url("images/Rounded Rectangle 2@1X.png");
    height: 104px;
    bottom: -30px;
}

.text3 {
    position: relative;
    bottom: 100px;
    font-family: ﻿Dosis-ExtraLight, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size:101pt;
    color: rgba(119, 25, 33, 255);
}

.text4{
    font-family: ﻿Dosis-Book, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 16pt;
    color: rgba(119, 25, 33, 255);
    text-align: center;
}

.text5{
    font-family: ﻿Dosis-Book, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 16pt;
    color: rgba(119, 25, 33, 255);
    text-align: center;
}